{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form method="POST" action="{{ url_for('editItem', item_id=item.id )}}">
    			<div class="form-group">
    				<div>{{ form.name.label }}: {{ form.name(class="form-control", maxlength="100") }}</div>
    				<div>{{ form.description.label }}: {{ form.description(class="form-control", maxlength="100") }}</div>
                    <div>{{ form.picture.label }}: {{ form.picture(class="form-control", maxlength="100") }}</div>
    				<div class="padding-bottom"></div>
    				<button type="submit" class="btn btn-default" id="submit" type="submit">
					Edit</button>
				</div>
			</form>
            <a href = '{{url_for('showCategory', category_id=item.category_id)}}'>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </button>
            </a>
		</div>
	</div>
{% endblock %}
