{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<h1>Category: {{category.name}}
            {% if editCategory %}
            <a href="{{url_for('addItem', category_id=category.id)}}">
                <button class="btn btn-default" id="new-category">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </a>
            <a href="{{url_for('editCategory', category_id=category.id)}}">
                <button class="btn btn-default" id="new-category"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </a>
            <a href="{{url_for('deleteCategory', category_id=category.id)}}">
                <button class="btn btn-default" id="new-category"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </a>
            {% endif %}
            </h1>
		</div>
        <div class="col-md-1"></div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		<ul>
        			{% for message in messages %}
           				<li> <strong> {{ message }} </strong> </li>
        			{% endfor %}
        		</ul>
        	{% endif %}
    	{% endwith %}
	</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
		</div>
		<div class="col-md-1"></div>
	</div>
    <div class="col-md-1"></div>
    <div class="col-md-10 padding-none">
        <div class="row">			

		    {% for item in items %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
				            {% if item.amazon_asin != None %}
                                <a rel="nofollow" href="http://www.amazon.com/gp/product/{{item.amazon_asin}}/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN={{item.amazon_asin}}&linkCode=as2&tag=gregquinlanwo-20">
                                    <img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN={{item.amazon_asin}}&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=gregquinlanwo-20" >
                                </a>
                                <img src="http://ir-na.amazon-adsystem.com/e/ir?t=gregquinlanwo-20&l=as2&o=1&a={{item.amazon_asin}}" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                        <h3>{{item.name}}</h3>
                        <p>{{item.description}}</p> 
                        {% if editCategory %}
                            <a href="{{url_for('editItem', item_id=item.id)}}">
                                <button class="btn btn-default" id="new-category">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </a>
                            <a href="{{url_for('deleteItem', item_id=item.id)}}">
                                <button class="btn btn-default" id="new-category">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </a>
                        {% endif %}                       
			         </div>
            </div>	
            </div>					
		  {% endfor %}
    
    </div>
    <div class="col-md-10">...</div>
	</div>
{% endblock %}
