* {
    font-family: 'Oxygen', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Oxygen', Roboto, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #51453B;
    line-height: 45px;
}

h2 {
    font-size: 24px;
    color: #42C3C9;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    color: #4A4A4A;
    line-height: 27px;
}

/* navbar */
.navbar-default {
    background-color: #FF9065;
    border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
    color: black;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}

#wrap{
 background:#FFD79A;
}

.category-card {
  position: relative;  
  text-align: center;
  background-color: #fff;
}

#wrap [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}


.category-header {
    margin: 15px;
    background-color: #FFFAF3;
    text-align: center;
    min-height: 150px;
}

.category-header button {
    vertical-align: middle;
}

.category-card {
    margin: 10px 10px 10px 10px;
}

.category-boxtop {
  height: 60px;
  background-color: #FF9900
}
 
.category-card .category-picture {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}
 
.category-card .category-picture img {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
}
 
.category-card .info {
  padding: 4px 8px 10px;
}
 
.category-card a {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}
 
.catagory-card  .info.descriptions {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
  margin-bottom: 400px
}
 
.category-card .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.category-card {
  padding-top: 0;
  overflow: hidden;
}

.category-columns > .col-md-3:nth-child(4n+1) {
    clear: both;
}

.recentdiv {
    background-color: FFD958;
    margin-bottom: 20px;
}

.itemlist h3 {
    display: inline;
    margin-right: 5px;
    white-space: nowrap;
}

.recentitems {
    background-color: #FFBC58;
    padding: 5px;
    color: black;
}

.recentitems a {
    background-color: #FFBC58;
    padding: 5px;
    color: black;
}

.showcategorytitletile {
    background-color: #FFBC58;
    margin-top: 10px;
    min-height: 375px;
}

.showcategorytitletile h1 {
    position: relative;
    left: 10px;
}

.showcategorytitletile p {
    position: relative;
    left: 10px;
}

.showcategorytitletile img {
    margin: 10px;
}

.showcategorytitletile .btn-group {
    vertical-align: top;
    margin-top: 5px;
}

.itemtile img {
    margin: 5px;
}

.itemtile h3 {
    margin-top: 10px;
}

.itemtile .itembox {
    background-color: #FFD79A;
    margin: 10px;
    min-height: 180px
} 
