{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		<ul>
        			{% for message in messages %}
           				<li> <strong> {{ message }} </strong> </li>
        			{% endfor %}
        		</ul>
        	{% endif %}
    	{% endwith %}
	</div>

    <div id="wrap">
    	<div class="row">
        	<div class="col-md-12">
                <h1>Categories
                <a href="{{url_for('category.addCategory')}}">
                    <button class="btn btn-default" id="new-category">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </a>
                </h1>
            </div>
            <div class="category-columns">
				{% for category in categories %}
					<!-- Begin category cards -->
					<div class="col-md-3">
						<div class="category-card">
  								<div class="category-boxtop"></div>
    							{% if category.picture != None and category.picture != "" %}
    								<div class="category-picture">
    									<img src={{category.picture}} alt="">
    								</div>
    							{% endif %}
 								<div class="info">
    								<div class="title">
   										<a href = "{{url_for('category.showCategory', name=category.name)}}">{{category.name}}</a>
   									</div>
 								</div>
 								<div class="description">
  									{{category.description}}
 								</div>
 							</div>
 					</div>
 					<!-- This is the end of a card -->
			{% endfor %}
		</div>
			<div class="col-md-12"></div>
			</div>
       		<div class="col-md-6">			
				<div class="row">
                    <h1>Recent Items</h1>
                    <ul class="list-unstyled">
					{% for item in items %}
						<a href = "{{url_for('category.showIdCategory', category_id=item.category_id)}}">
						<li>
							<h3>{{item.name}}</h3>
						</li>
						</a>
					{% endfor %}
				</div>
      		</div>
            <div class="col-md-10">...</div>
      	</div>
     </div>
{% endblock %}
