{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		<ul>
        			{% for message in messages %}
           				<li> <strong> {{ message }} </strong> </li>
        			{% endfor %}
        		</ul>
        	{% endif %}
    	{% endwith %}
	</div>

    <!-- Main body -->
    <div id="wrap">
    	<div class="row">
            <!-- First area can contain title header and seven category cards -->
    		<div class="category-columns">
                <!-- Single header tile-->
                <div class="col-md-3">
                    <div class="category-header">
                	    <h1>Categories
                		    <a href="{{url_for('category.addCategory')}}">
                    		    <button class="btn btn-default" id="new-category">
                        		    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    		    </button>
                		    </a>
                	    </h1>
                    </div>
                </div>
            

				{% for category in firstcategories %}
					<!-- Begin category cards -->
					<div class="col-md-3">
						<div class="category-card">
  							<div class="category-boxtop"></div>
                            <!-- Show picture if it is not blank or none-->
    						{% if category.picture != None and category.picture != "" %}
    							<div class="category-picture">
    								<img src={{category.picture}} alt="">
    							</div>
    						{% endif %}
 							<div class="info">
    							<div class="title">
   									<a href = "{{url_for('category.showCategory', name=category.name)}}">{{category.name}}</a>
   								</div>
 							</div>
 							<div class="description">
  								{{category.description}}
 							</div>
 						</div>
 					</div>
 					<!-- This is the end of a card -->
				{% endfor %}
			</div>
		</div>
	</div>

	
    <!-- New area for recent items-->
	<div class="recentdiv">
        <div class="row">
            <div class="col-md-12"></div>
       	    <div class="col-md-12">			
                <h1>Recent Items</h1>
                <div class="itemlist">		
                    <!-- App provides up to 20 recent items -->	
				    {% for item in items %}
					    <h3>
						    <span class="recentitems">
							    <a href = "{{url_for('category.showIdCategory', category_id=item.category_id)}}">
								    {{item.name}}
							    </a>
						  </span>
					    <small>
						    <span class="recentitems">
							    {{item.categoryname}}
						    </span>
					   </h3>    
				    {% endfor %}
			 </div>
		  </div>
        </div>
        <div class="col-md-12"></div>
    </div>

    <!-- If there are more than seven categories, display a more category section-->
	{% if morecategories %}
		<div id="wrap">
    		<div class="row">
    			<div class="category-columns">
                    <!-- More category header tile-->
        		    <div class="col-md-3">
        			    <div class="category-header">
                		    <h1>More Categories
                			    <a href="{{url_for('category.addCategory')}}">
                    			    <button class="btn btn-default" id="new-category">
                        			    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    			    </button>
                			    </a>
                		    </h1>
                	    </div>
            	   </div>
            
				    {% for category in remaincategories %}
					<!-- Begin category cards -->
					    <div class="col-md-3">
						    <div class="category-card">
  							    <div class="category-boxtop"></div>
    						    {% if category.picture != None and category.picture != "" %}
    							    <div class="category-picture">
    								    <img src={{category.picture}} alt="">
    							    </div>
    						    {% endif %}
 							    <div class="info">
    							    <div class="title">
   									    <a href = "{{url_for('category.showCategory', name=category.name)}}">{{category.name}}</a>
   								    </div>
 							    </div>
							    <div class="description">
  								    {{category.description}}
 							    </div>
 						    </div>
 					    </div>
 					    <!-- This is the end of a card -->
				    {% endfor %}
			    </div>
		    </div>
	   </div>
    {% endif %}
</div>
{% endblock %}
