{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Item for Category {{category.name}}</h1>
		</div>
		<div class="col-md-6 col-md-offset-1 padding-top">
			{% from "_formhelpers.html" import render_field %}
			<form method="POST" action="{{ url_for('category.addItem', name=category.name) }}">
				<!--CSRF Token used by Flask-WTF for provide CSRF protection-->
				{{ form.csrf_token }}
    			<div class="form-group">
                    {{ render_field(form.name, maxlength="100") }}
    				{{ render_field(form.description, maxlength="100") }}
    				{{ render_field(form.picture, maxlength="100") }}
    				{{ render_field(form.amazon_asin, maxlength="100") }}
    				{{ render_field(form.amazon_url, maxlength="100") }}
    				<div class="padding-bottom"></div>
    				<button type="submit" class="btn btn-default" id="submit" type="submit">
					Create</button>
				</div>
			</form>
            <a href = '{{url_for('category.areaAddItem', name=category.name)}}'>
                <button class="btn btn-default">Enter a list of new items.</button>
            </a>
            <a href = '{{url_for('category.showCategory', name=category.name)}}'>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                </button>
            </a>
		</div>
	</div>
</div>
{% endblock %}
